@import './quasar.variables.scss';

// mixin
@mixin non-selectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

// app global css in SCSS form
.q-gutter-y-sm > *,
.q-gutter-sm > * {
  margin-top: 0;
}

// q-slider markers, make them not break vertical
.q-slider__marker-labels--h-ltr {
  width: 30px;
}

.radio-choice-toggle-align {
  .q-btn:not(:last-child) {
    border-right: 1px solid;
  }
}

.q-gutter-md-top-bottom > * {
  margin-top: 6px;
  margin-bottom: 6px;
}

.q-layout__section--marginal {
  background: $primary;
  background: linear-gradient(
    45deg,
    $primary 0%,
    rgba(87, 87, 87, 1) 44%,
    $accent 100%
  );
}

.bg-accent {
  background: linear-gradient(
    45deg,
    $accent 0%,
    $accent 44%,
    rgba(87, 87, 87, 1) 100%
  ) !important;

  &.q-badge,
  .add-button-row & {
    background: var(--q-accent) !important;
  }
}

// remove checkbox circle when focused
body.desktop {
  .q-checkbox:not(.disabled):hover .q-checkbox__inner:before,
  .q-checkbox:not(.disabled):focus .q-checkbox__inner:before,
  .q-radio:not(.disabled):hover .q-radio__inner:before,
  .q-radio:not(.disabled):focus .q-radio__inner:before {
    transform: scale(0);
  }
}

// turn off double click text selection
.q-checkbox__label.q-anchor--skip,
.q-radio__label.q-anchor--skip {
  @include non-selectable;
}

// q-chip
.q-chip {
  height: auto;
  margin: 0;
}

.dotted-border {
  border: 4px dashed $info;
  padding: 4px;
}
