// pixel variables
$small-pixel: 4px;

// mixin
@mixin non-selectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

// app global css in SCSS form
.q-gutter-y-sm > *,
.q-gutter-sm > * {
  margin-top: 0;
}

.q-gutter-md-top-bottom > * {
  margin-top: 6px;
  margin-bottom: 6px;
}

// remove checkbox circle when focused
body.desktop {
  .q-checkbox:not(.disabled):hover .q-checkbox__inner:before,
  .q-checkbox:not(.disabled):focus .q-checkbox__inner:before,
  .q-radio:not(.disabled):hover .q-radio__inner:before,
  .q-radio:not(.disabled):focus .q-radio__inner:before {
    transform: scale(0);
  }
}

// turn off double click text selection
.q-checkbox__label.q-anchor--skip {
  @include non-selectable;
}

// q-chip
.q-chip {
  height: auto;
  margin: 0;
}

// pseudo classes
.flex-50 {
  flex: 50%;
}

// margin classes
.ml-small {
  margin-left: $small-pixel;
}

.mr-small {
  margin-right: $small-pixel;
}

.mt-small {
  margin-top: $small-pixel;
}

.mb-small {
  margin-bottom: $small-pixel;
}

.m-small {
  margin: $small-pixel;
}
