// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #000000;
$secondary: #ffffff;
$accent: #ff9300;

$dark: #353535;

$positive: #21ba45;
$negative: #e8001bb3;
$info: #d3d3d3;
$warning: #fff704;

$info-gray: rgb(100 100 100); // color when input not focused
$info-gray-line: #c2c2c3;

$small-pixel: 4px;
$medium-pixel: 8px;
$big-pixel: 12px;
